<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8"/>
  <title>Pflanzen-Cockpit</title>
  <link rel="stylesheet" href="/base.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation-flex.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.js">
</head>

<body>
  <div>
    <ul class = "menu">
      <li class = "<%= "active" if  @title == "home"%>"><a href="/">Pflanzenauswahl</a></li>
      <li class = "<%= "active" if  @title == "palmi" %>"><a href="/palmi">Palmi-Daten</a></li>
      <li class = "<%= "active" if  @title == "tatutata" %>"><a href="#">Tatütata</a></li>
      <li class = "<%= "active" if  @title == "dingdong" %>"><a href="#">Dingdong</a></li>
    </ul>
  </div>
  <div class="information">
    <h1>Willkommen beim Pflanzen-Cockpit</h1>
    <p>Wähle die gewünschte Pflanze aus:</p>
    <ul class="large-block-grid-4">
      <li>
        <a href = "/palmi">
          <img class = "thumbnail" src="/palmi.png" alt="Palmi">
        </a>
      </li>
      <li>
        <a href = "/palmi">
          <img class="thumbnail" src="/hausi.png" alt="Hausi">
        </a>
      </li>
    </ul>
  </div>
  <% @tasks.each do |task| %>
    <%= task.name %><br>
  <% end %>
</body>
</html>
