<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8"/>
  <title>Übersicht über <%= @titel %></title>
  <link rel="stylesheet" href="/base.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation-flex.css">
  <script src="//www.google.com/jsapi"></script>
  <script src="chartkick.js"></script>
  <!-- <script>var Chartkick = {"language": "de"};</script> -->
</head>

<body>
  <div class ="menu">
    <% menu_item_one, menu_item_two, menu_item_three, menu_item_four = "passive"%>
    <% case File.basename(__FILE__, ".erb"); when "home"; menu_item_one = "active";
    when "plant"; menu_item_two = "active"; when "whether"; menu_item_two = "active";
    when "time"; menu_item_two = "active"; end%>

    <ul class = "menu">
      <li class = "<%= menu_item_one %>"><a href="#">Startseite</a></li>
      <li class = "<%= menu_item_two %>"><a href="#">Two</a></li>
      <li class = "<%= menu_item_three %>"><a href="#">Three</a></li>
      <li class = "<%= menu_item_four %>"><a href="#">Four</a></li>
    </ul>
  </div>
  <div class="information">
      <h1>Willkommen beim Pflanzen-Cockpit</h1>
      <p>Wähle die gewünschte Pflanze aus:</p>
      <ul class ="plant_choice">
        <li>Bild</li>
      </ul>
  </div>
  <%= pie_chart({"Wasserstand" => @water_level, "Trockenheit" => 1-@water_level}) %><br/>


</body>
</html>
