<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8"/>
  <title>Pflanzen-Cockpit</title>
  <link rel="stylesheet" href="/base.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation-flex.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.js">
  <script src="//www.google.com/jsapi"></script>
  <script src="chartkick.js"></script>
</head>
<body>
  <div class = "blabla">
    <ul class = "menu">
      <li class = "<%= "active" if  @title == "home"%>"><a href="/">Pflanzenauswahl</a></li>
      <li class = "<%= "active" if  @title == "palmi" %>"><a href="/palmi">Palmi-Daten</a></li>
      <li class = "<%= "active" if  @title == "home" %>"><a href="#">Tatütata</a></li>
      <li class = "<%= "active" if  @title == "home" %>"><a href="#">Dingdong</a></li>
    </ul>
  </div>
  <div class = "information">
    <h1>Pflanzen-Cockpit von Palmi</h1>
    <img class = "thumbnail" src="palmi.jpg" alt="Palmi">
    <%= pie_chart({"Wasser" => @water_level, "Trockenheit" => 1-@water_level}) %><br/>
  </div>
</body>
</html>
