<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8"/>
  <title>Pflanzen-Cockpit</title>
  <link rel="stylesheet" href="/base.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation-flex.css">
  <script src="//www.google.com/jsapi"></script>
  <script src="chartkick.js"></script>
  <!-- <script>var Chartkick = {"language": "de"};</script> -->
</head>
<body>
  <div class ="menu">
    <% menu_item_one, menu_item_two, menu_item_three, menu_item_four = "passive"%>
    <% case File.basename(__FILE__, ".erb")
    when "home"
      menu_item_one = "active"
    when "palmi"
      menu_item_two = "active"
    when "whether"
      menu_item_three = "active"
    when "time"
      menu_item_four = "active"
    end%>

    <ul class = "menu">
      <li class = "<%= menu_item_one %>"><a href="/">Startseite</a></li>
      <li class = "<%= menu_item_two %>"><a href="/palmi">Two</a></li>
      <li class = "<%= menu_item_three %>"><a href="#">Three</a></li>
      <li class = "<%= menu_item_four %>"><a href="#">Four</a></li>
    </ul>
  </div>
  <div class="information">
    <h1>Pflanzen-Cockpit von Palmi</h1>
    <img src="http://schlaues-zuhause.de/wp-content/uploads/2015/08/61aQXlNTLGL._SL1500_-1.jpg" alt="Palmi" style="width:200px;">
    <%= pie_chart({"Wasserstand" => @water_level, "Trockenheit" => 1-@water_level}) %><br/>
  </div>
</body>
</html>
